replicaCount: 1

image:
  repository: ghcr.io/felixzmn/docker
  name: "feedbox"
  tag: "1.0.0-snapshot"
  pullPolicy: Always

imagePullSecrets: 
- name: regcred

nameOverride: ""
fullnameOverride: ""

serviceAccount:
  create: true
  name: ""

podSecurityContext:
  runAsNonRoot: true
  runAsUser: 1000
  seccompProfile:
    type: RuntimeDefault

containerSecurityContext:
  allowPrivilegeEscalation: false
  capabilities:
    drop: ["ALL"]
  readOnlyRootFilesystem: true

service:
  type: ClusterIP
  port: 7070

resources:
  requests:
    memory: "128Mi"
    cpu: "100m"
  limits:
    memory: "256Mi"
    cpu: "250m"

config:
  # Non-secret app configs, key/value pairs
  exampleKey: exampleValue

dbSecretName: newsfeed-pguser-newsfeed
database:
  userKey: user
  passwordKey: password
  hostKey: host
  portKey: port
  dbNameKey: dbname

ingress:
  enabled: false
  className: nginx
  annotations: {}
  hosts:
    - host: news.example.com
      paths:
        - path: /
          pathType: Prefix
  tls: []

httpRoute:
  enabled: false
  annotations: {}
  parentRefs:
  - name: gateway
    sectionName: http
    namespace: default
  hostnames:
  - chart-example.local
  rules:
  - matches:
    - path:
        type: PathPrefix
        value: /

oauth2Proxy:
  enabled: true
  image:
    repository: "quay.io/oauth2-proxy"
    name: "oauth2-proxy"
    tag: "v7.12.0-alpine"
    pullPolicy: IfNotPresent
  service:
    port: 4180
  secretName: feedbox-oauth2-proxy-secret
  config:
    provider: oidc
    # Issuer URL for OIDC
    oidcIssuerUrl: https://auth.example.com/application/o/feedbox/
    clientId: feedbox
    clientSecretKey: client_secret
    cookieSecretKey: cookie_secret
    emailDomains: ["*"]
    cookieSecure: true
    redirectUri: https://news.example.com/oauth2/callback

nodeSelector: {}
tolerations: []
affinity: {}  
