name: "Test backend"

on:
  push:
    branches-ignore:
      - "main"

jobs:
  test:
    runs-on: "ubuntu-latest"
    steps:
      - name: "checkout"
        uses: "actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8" # v6
      - name: "setup java"
        uses: "actions/setup-java@be666c2fcd27ec809703dec50e508c2fdc7f6654" # v5
        with:
          java-version: "25"
          distribution: "temurin"
      - name: "run maven tests"
        run: "mvn --no-transfer-progress test"
