name: "Test backend"

on:
  push:
    branches-ignore:
      - "main"

jobs:
  test:
    runs-on: "ubuntu-latest"
    steps:
      - name: "checkout"
        uses: "actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd" # v5
      - name: "setup java"
        uses: "actions/setup-java@dded0888837ed1f317902acf8a20df0ad188d165" # v5
        with:
          java-version: "25"
          distribution: "temurin"
      - name: "run maven tests"
        run: "mvn --no-transfer-progress test"
