name: "Test backend"

on:
  push:
    branches-ignore:
      - "main"

jobs:
  test:
    runs-on: "ubuntu-latest"
    steps:
      - name: "checkout"
        uses: "actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd" # v6
      - name: "setup java"
        uses: "actions/setup-java@be666c2fcd27ec809703dec50e508c2fdc7f6654" # v5
        with:
          java-version: "25"
          distribution: "temurin"
      - name: "run maven tests"
        run: "mvn --no-transfer-progress test"
